<div class="row">
  <div class="col-xs-12 col-md-4">
    <%= image_tag('about_page_photo.png', class: "img-fluid") %>
  </div>
  <div class="col-xs-12 col-md-8">
    <p id="about-page-paragraph">
      Paragraph for about page
    </p>
  </div>
</div>
