<div class="row">
  <div class="col-xs-12 col-md-4">
    <%= image_tag('about_page_photo.png', class: "img-fluid") %>
  </div>
  <div class="col-xs-12 col-md-8">
    <p id="about-page-paragraph">
      Have a hard time remembering the birthdays and signs of all your friends?<br><br>
      <em>All Your Signs</em> is a website that lets you find out the signs and birthstones of you and your friends!<br><br>
      Enter birthdays and save them to your account so you'll never have to ask your friends for their birthday again!
    </p>
    <br>
    <span>&copy Sean River W. Mize 2018</span>
  </div>
</div>
