<% if user_signed_in? %>
<ul id="welcome-page-list">
  <li class="new-birthday-link">
    Save a new birthday: <%= link_to("click here", new_subject_path) %>
  </li>
  <li class="saved-birthdays-link">
    <%= link_to('Your saved birthdays', subjects_path) %>
  </li>
</ul>
<% else %>
welcome to all your signs!
<%= link_to('create account', new_user_registration_path) %>
<% end %>
