// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#welcome-page-list li{
  font-size: 2em;
  margin: 20px auto;
  text-align: center;
}

#welcome-page-list{
  list-style: none;
}

#about-page-paragraph{
  font-size: 2em;
  margin-top: 3em;
}
